<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="surfarazthakur" translate="label" sortOrder="10">
            <label>Surfarazthakur</label>
        </tab>
        <section id="slack" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Slack</label>
            <tab>surfarazthakur</tab>
            <resource>Surfarazthakur_Slack::hello_configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="display_text" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Web hook uri</label>
                    <comment>eg https://hooks.slack.com/services/T00000000/B00000000/XXXXXXXXXXXXXXXXXXXXXXXX</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>

                <field id="testapi_button" translate="label comment" type="button" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Test Web hook uri</label>
                    <frontend_model>Surfarazthakur\Slack\Block\System\Config\Testapi</frontend_model>
                    <comment>After updating the web hook uri you can click this button to test that its working.</comment>
                </field>

                <field id="before_message" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Before</label>
                    <comment>Customer bought the following \n</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>

                <field id="after_message" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>After</label>
                    <comment>thanks \n</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>

                <field id="customer_signup" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Customer Register</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Notifys when customer registers</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="customer_order_complete" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Customer Placed Order</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Notifys when customer has paid for items</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="order_items" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Customer Ordered Items</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Notifys customers items</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>